
body {
	background-image: url("../images/skies.png");
}

#audio {
	display: hidden;
}

h1 {
	font-style: italic;
}

span {
	font-family: 'Lato', cursive, Arial;
}

.crystalImage {
	width: 200px;
	height: auto;
	margin: 25px;
	opacity: 0.8;
}

.crystalImage:hover {
 	cursor:pointer;
 	opacity: 1;
}

p {
	font-size: 16px;
	line-height: 30px;
	font-family: 'Shojumaru', cursive, Arial;
}
